@import '../../utils/styles/theme';

.button {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    padding: 8px 0;
    width: 240px;
}

.primary {
    background-color: $color-primary;
    color: #fff;
}

.secondary {
    color: $color-grey-dark;
    background: $color-grey;
    font-weight: 400;
    border-radius: 20.5px;
    width: 200px
}

.tertiary {
    color: $color-primary;
    font-weight: 400;
}