// FONT FAMILY
$font-family-primary: 'Poppins', sans-serif;

// SPACES
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

// TEXT
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 24px;

// COLORS
$color-black: black;
$color-grey: #f5f5f5;
$color-grey-dark: #757575;
$color-primary: #ff1744;
$color-white: white;

// OTHERS
$border-radius-s: 2px;
$border-radius-m: 4px;
$border-radius-l: 8px;
$border-radius-xl: 16px;
$border-radius-xxl: 24px;
