@import '../../../utils/styles/flex';
@import '../../../utils/styles/theme';


.adminDiv {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 500px;   
    height: 250px;
    padding-top: 20px;
    .close {
        position: absolute;
        transform: translate(0%, -50%)
    }

    .adminFlex{
        @include flex(column);

        .enter {
            background-color: lightblue;
            margin: 10px;
        }
    }
    
}


