@import '../../../utils/styles/flex';
@import '../../../utils/styles/theme';


.adminDiv {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 500px;   
    height: 250px;
    padding-top: 20px;

    .close {
        position: absolute;
        transform: translate(0, -50%)
    }

    .adminFlex{
        @include flex(column, center, center);
        .login{
            background-color: #0ad2fa;
            color: white;
        }
        .login:hover{
            background-color: #0ad2fa9b;
        }
    }
    
}


