@import '../../utils/styles/flex';
@import '../../utils/styles/theme';

.main {
    @include flex(column);
    width: 100%;


    .header {
        @include flex(row, flex-start, space-between);
        width: 100%;

        .logo {
            margin: $space-m $space-l;
        }

        .info {
            @include flex(row);
            margin: $space-m;



            .points {
                @include flex(row);
                margin: 0 $space-m 0 $space-m;
                padding: 0 $space-m;
                border-radius: 30px;
                background-color: $color-grey;
            }

        }
    }

    .background {
        width: 100%;
        height: 350px;
    }
}

.title {
    color:white;
    font-size: 50px;
    transform: translate(-200%, 150%);
    position: absolute;
}

.button {
    margin: $space-m 0px;
    background-color: #ededed4f;
}

.button:hover{
    background-color: $color-grey;
}

.adminDiv {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 10px;
    
}

.adminFlex{
    display: flex;
    flex-direction: column;
}

.login {
    background-color: lightblue;
}

.enter{
    background-color: lightblue;
    margin: 5px;
}