@import '../../../utils/styles/flex';
@import '../../../utils/styles/theme';


.product {
margin: 20px;
background-color: white;
height: 400px;
display: flex;
@include flex(column)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.photo {
    width: 350px;
    height: 250px;
}

.description{
    max-width: 300px;
    margin: 0px 0px 20px 25px;
    border-top: 1px lightgray solid;
}

.category {
    margin-top: 10px;
    color: #e2e2e2
}

.name {
    color: #616161
}

.invisible {
    display: none;
}

.bag{
    display: flex;
    margin: 10px 10px 0px 0px;
    width: 40px;
    height: 40px;

}

.invisibleBag {
    display: none;
}

.visibleBag {
    position: relative;
    z-index: 2;
}