@import '../../../utils/styles/flex';
@import '../../../utils/styles/theme';


.product {
margin: 20px;
background-color: white;
height: 400px;
}

.photo {
    width: 350px;
    height: 250px;
}

.description{
    max-width: 300px;
    margin: 0px 0px 20px 25px;
    border-top: 1px lightgray solid;
}

.category {
    margin-top: 10px;
    color: #e2e2e2
}

.name {
    color: #616161
}

.invisible {
    display: none;
}

.neededPoints{
    background-color: #8080807c;
    max-width: fit-content;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    align-items: center;
    margin-left: 150px;
    transform: translate(0%, 40%);
    color: white;
}
.text{
    padding-right: 5px;
    
}

.hoverProduct{
    background-color: #3bcef6a1;
    position: absolute;
    width: 350px;
    height: 400px;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 25px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 25px 6px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 25px 6px rgba(0,0,0,0.5);
}

.hoverFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
}

.priceContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-size: 30px;
    padding-right: 5px;
    color: white;
}

.button {
    color: $color-grey-dark;
}